<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script type="application/javascript">
        function copy(id) {
            var obj = document.getElementById(id);
            obj.select();
            js = obj.createTextRange();
            js.execCommand("Copy");
            alert("复制成功！")
        }
    </script>
</head>

<body>
<form action="wjb.json" enctype="multipart/form-data">
    <input type="file" name="wjb">
    <input type="file" name="wjb">
    <input type="file" name="wjb">
    <input type="submit" value="提交">
</form>

<h5 id="id">aalslaskjdflasdkjielknblncb.zx,moiwejlasdfiwe;asdfl;ajp[igalsdjf54187313215465165
akjsdfilakjddkp g dg ieijdlkjaiddsljlakjio有显示中 当炮灰 是咕咕破口大骂里恩啤酒肚大姐拉開間諜減肥</h5>

<input type="button" value="查询" onclick="copy()">

</body>
</html>